/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock

*.lock
public/imagenes/noticias/temp/1612125559.jpeg
public/imagenes/noticias/temp/1598050505.jpeg
